<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Hao Le 's Portfolio</title>
</head>
<body>
    <div class="avatar">
        <h1>I'm Hao Le </h1>
        <img src="../static/images/image.jpg" alt="">
    </div>
    <div class="wrapper">
        <h2> I love</h2>
        <div class="dynamic-txt">
            <span>Coding.</span>
            <span>Gaming.</span>
            <span>Learing.</span>
            <span>Software engineering.</span>
            <span>Software development.</span>     
        </div>
    </div>
    <div class="terminal">
            <p>Welcome to my portfolio terminal! <br>
            For more information on a specific command, type HELP command-name
            </p>
            <div class="terminal-body">
                <div>
                    {% for i in result %}
                    <p>{{i}}</p>
                    {% endfor %}
                </div>
                <form action="#" method="POST">
                    <label for="prompt">></label>
                    <input id="terminal-input" type="text" name="cmd" autofocus autocomplete="off" onblur="this.focus()">
                </form>
            </div>

    </div>
    <div class="social">
       <ul>
           <li><a href="https://www.linkedin.com/in/tihao/" target="_blank"><i class="fa fa-linkedin"></i> </a> </li>
           <li><a href="https://github.com/tihao" target="_blank"><i class="fa fa-github"></i> </a> </li>
           <li><a href="mailto: tate.haole@gmail.com"><i class="fa fa-envelope"></i> </a> </li>
       </ul>
    </div>
</body>
</html>